
<div class="row">

	<div class="container-1 text-center">
		<h1 class="welcome"> Welcome To Yak Yik!
			 <h2 class="second"> Connecting People to Charities, through Challenges. </h2>
 					<%= image_tag "unm_logo.jpg", class: 'logo' %>
 		</h1>
	</div>
	<div class="container-2 bg-green">
		<h2 class="third"> Don't Miss the Race of the Century!</h2>
  </div>
	<div class="container-2 bg-white">
		<h2 class="third"> The coolest container</h2>
	</div>
</div>
